{% extends 'core/base.html' %}

{% block content %}
  <div class="row post-list-container">
    <div class="container">
      <div class="col-sm-offset-1 col-sm-10 blog-admin-header">
        <h2>Posts list</h2>
        <a href="{% url 'blog:create_post' %}"><button class='btn btn-success btn-sm pull-right' title="Create new post">Create</button></a><br /><br />
      </div>
      <div class="col-sm-offset-1 col-sm-10">
        <table class="table table-responsive bg-lightgrey">
          <tr class="bg-lightblack">
            <th>Post Name</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Published Date</th>
            <th class="bg-white info">Edit</th>
            <th class="bg-white danger">Delete</th>
          </tr>
          {% for post in posts %}
            <tr>
              <th>{{ post.title }}</th>
              <td>{{ post.author }}</td>
              <td>{{ post.created_date }}</td>
              <td>{{ post.published_date }}</td>
              <td><a href="{%	url	'blog:update_post'	pk=post.pk	%}" title="Edit post">Edit</a></td>
              <td><a href="{%  url 'blog:delete_post' pk=post.pk %}" title="Delete post" style="color:red;">Delete</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
